/* -------------------------------- 

Primary style

-------------------------------- */
@font-face {
 font-family: 'Siddhantaa';
 src: url('siddhanta.ttf');
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.maincontent{
  font-size: 20px !important;
  line-height: 1.75;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.clr1{
  color: #3372df !important;
}

.clr2{
  color: #be0709 !important;
}

.clr3{
  color: #3d3536 !important;
}

.clr4{
  color: #9c581b !important;
}

.clr5{
  color: #777 !important;
}




.gapAbove {
  margin-top: 75px !important;  
}

.gapBelow {
  margin-bottom: 75px !important;  
}

.gapAboveSmall {
  margin-top: 25px !important;  
}

.gapBelowSmall {
  margin-bottom: 25px !important;  
}

.gapAboveLarge {
  margin-top: 125px !important;  
}

.gapBelowLarge {
  margin-bottom: 125px !important;  
}


.archiveIcon{
  width: 140px;
  color: #BBB;
  line-height: 0px;
  margin-bottom: 60px;
  text-align: center;
  float: left;
}

.archiveIcon a{
  display: inline-block;
  color: #AAA;
  transition: color 0.3s ease-out;
  text-decoration: none;
}

.archiveIcon a:HOVER{
  color: #9c581b;
  transition: color 0.3s ease-out;
}

.archiveIcon div:first-child {
  font-size: 70px;
}

.archiveIcon div:last-child {
  font-size: 20px;
  line-height: 2;
}


.article{
  margin: 30px 0;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  line-height: 1.5;
  min-height: 50px;
  border-left: 5px solid #3372df;
}

.article:hover{
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.6);
}

.article .aTitle{
  font-size: 20px;
}
.article .download{
	font-size:15px;
	color: #3372df;
}
.article .aAuthor{
  font-size: 16px;
  font-weight: 400;
}

.article .aFeature{
  font-size: 16px;
}

.article .aIssue{
  font-size: 16px;
}

.author{
  margin: 10px 0;
  padding: 10px 10px 10px 30px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  line-height: 1.5;
  min-height: 30px;
  border-left: 1px solid #be0709;
}

.author:hover{
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.6);
}

.author .aAuthor{
  font-size: 16px;
}

.year{
  margin: 30px 0 0 0;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  line-height: 1.5;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.year .aIssue{
  font-size: 16px;
  padding: 10px;
  min-width: 80px;
  text-align: center;
}

.year .aIssue:hover, .year .active{
  background-color: #EEE;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  box-shadow: 0px -1px 2px rgba(34, 25, 25, 0.4);
}

.alphabet .letter{
  font-size: 16px;
  margin-right: 10px;
}

.alphabet .letter a:HOVER{
  font-weight: bold;
  text-decoration: underline;
}

.issue{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #EEE;  
}

.issueHolder{
  margin: 0px auto 0 auto;
  box-shadow: 0px 0px 2px rgba(34, 25, 25, 0.4);
  line-height: 1.5;
  display: none;
}

.issue .aIssue{
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.issue .deLimiter{
  font-size: 14px;
  padding: 10px 0 10px 0;
}

.arrow-scroll {
  bottom: 100px;
  right: 40px;
  cursor: pointer;
  position: static;
  position: absolute;
  text-align: center;
  background-color: white;
  font-size: 40px;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  opacity: 0.9;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  line-height: 1;
}

.moreNav{
  display: inline-block;
}

/*.archive_search {
  margin: 0em 0em 0em 3em;
  min-height: 30em;
  line-height: 1.5em;
  font-size: 0.9em;  
}

.archive_search table .left{
  width: 67px;
  height: 30px;
  text-align: right;
  padding: 1em 2em 1em 0;
  vertical-align: middle;
  border-right: 1px solid #CCCCCC;
  color: #3372df !important;
  font-weight: 400;
}

.archive_search table .right{
  width: 180px;
  text-align: left;
  vertical-align: middle;
  padding: 1em 0 1em 2em;
}

.archive_search input, .archive_search select{
  background: none;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #555;
  outline: none;
  padding: 10px;
}

.archive_search .wide{
  width: 20em;
}

.archive_search .med{
  width: 7em;
}*/

.count{
  font-style: italic;
}


header #head{
  background: #f4f4f4 url(../img/bg.png) top right;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(150, 75, 0, 0.5);
  height: 100vh;
  position: relative;
}

.headbanner{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 254, 204, 0.9); /* Optional dark overlay */
}

.parallax-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  margin-top: 45vh;
  vertical-align: middle;
  height: 100%;
}

.parallax-content h3{
  text-align: center;
  color: brown !important;
  font-size: 3em;
  text-shadow: 0 0px 0px rgba(0,0,0,0.3);
}

.volumes .card{
  width: auto;
  padding: 0px 0px;
  margin: 10px 4px;
}

.volumes .card a img{
  height: 140px;
}

.volumes .card-body{
  font-size: 16px;
  padding: 0px 0px;
  text-align: center;
}

nav.cd-sec-main-nav ul{
  margin-top: 10px;
}

nav.cd-sec-main-nav ul li{
  display: inline !important;
  margin-right: 20px; 
}

nav.cd-sec-main-nav ul li a{
  font-size: 16px;
}

nav.cd-sec-main-nav ul li a:HOVER{
  color: #9c581b;
  line-height: normal;
  background: transparent;
  transition: color 0.3s ease-out;
}

@media (min-width: 768px) { 

  header nav ul.navbar-nav li a{
    margin-left: 2.5em;
  }  


  header nav a.navbar-brand{
    margin-left: 1.5em;
  }

  .headbanner{
    margin-left: 60%;
    width: 400px;
  }

  .archiveIcon{
    width: 175px !important;
  }

  .volumes .card{
    padding: 0px 0px;
    margin: 10px 4px;
  }

  .volumes .card a img{
    height: 180px;
  }

}

header nav a.navbar-brand img{
  height: 55px;
}

header nav ul.navbar-nav{
  margin-right: 2em;
}

header nav ul.navbar-nav li a{
  display: inline-block;
  height: auto;
  line-height: normal;
  background: transparent;
  padding: .6em 0em;
  border-top: none;
  color: #3d3536;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
}

header nav ul.navbar-nav li.dropdown ul{
  padding: 1em 1em;
}  

header nav ul.navbar-nav li a.dropdown-item{
  margin-left: 0.1em !important;
}

header nav ul.navbar-nav li a.dropdown-item:HOVER{
  color: #9c581b;
  line-height: normal;
  background: transparent;
  transition: color 0.3s ease-out;
}

.extra-info-bar{
  position: fixed;
  top: 56px; /* Adjust based on navbar height */
  width: 100%;
  padding: 10px;
  z-index: 9; /* Lower than navbar */
  text-align: center;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  text-align: center;
}


.bgClr1{
  opacity: 0.5;
  background-color: #f2c472;
}

.bgClr2{
  opacity: 0.7;
  background-color: #518FD9;
}

.bgClr3{
  opacity: 0.7;
  background-color: #ffffff;
}

.bgClr4{
  opacity: 0.5;
  background-color: #f2c472;
}

.bgClr5{
  opacity: 0.7;
  background-color: #BEDCFF;
}

.bgClr6{
  opacity: 0.75;
  background-color: #fff;
}

.itl{
  font-style: italic;
}

.fRight{
  float: right;  
}

.fSan{
  font-family: Siddhanta;
}

.sml{
  font-size: 18px !important;
}

.bld{
  font-weight: bold !important;
}

.alignLeft{
  text-align: left !important;
  padding-left: 50px;
}

.alignRight{
  text-align: right !important;
}

label{
  font-size: 16px;
}
